@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #1a1a1a;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a1a1a;
        --foreground: #ededed;
        --content-total: 2;
        --carousel-content-space-x: 8px;
        --carousel-content-width: 200px;
        --carousel-slide: slide-left;
        --carousel-speed: 1000ms;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.carousel-container {
    overflow: hidden;
    min-width: 0;
}

.carousel-track {
    min-width: 0px;
    display: flex;
    animation: var(--carousel-slide) linear var(--carousel-speed) infinite;
}

.carousel-content {
    @apply h-auto aspect-auto shrink-0 w-[var(--carousel-content-width)];
    margin-left: var(--carousel-content-space-x);
    margin-right: var(--carousel-content-space-x);
}
/* 200px */
@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(
            calc(
                (
                        var(--carousel-content-width) +
                            (var(--carousel-content-space-x) * 2)
                    ) * (var(--content-total) * -1)
            )
        );
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(
            calc(
                (
                        var(--carousel-content-width) +
                            (var(--carousel-content-space-x) * 2)
                    ) * (var(--content-total) * -1)
            )
        );
    }
    100% {
        transform: translateX(0);
    }
}
